@font-face {
  font-family: 'Aquino-Demo';
  src: local('Aquino-Demo'), url('../fonts/Aquino-Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'Gruppo';
  src: local('gruppo.regular'), url('../fonts/gruppo.regular.ttf') format('truetype');
}


html,
body {
  font-family: 'Aquino-Demo';
  background: #353839;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
